/* Common styles for all screen sizes */
* {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  color: white;
  text-align: center;
  background-color: #111827;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure at least 100% viewport height */
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  border: none;
  border-radius: 0;
  position: relative;
  max-width: 380px;
  width: 80vw;
  gap: 1rem;
  background-color: #111827;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
h1 {
  margin-bottom: 1rem;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(228, 227, 233);
  cursor: pointer;
  transition: border-color 0.25s;
}

.action-btn:hover {
  background-color: #111827;
  border-color: rgb(228, 227, 233);
  color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: #111827;
  max-width: 100%;
}

.wallet-div,
.casino-div {
  margin-right: 20px;
  border-radius: 8px;
  border: 1px solid rgb(228, 227, 233);
  padding: 10px;
}

.info {
  margin: 8px 0;
  font-weight: 300;
}

h3 {
  margin: 0;
  color: white;
}

.btn-group {
  margin: 8px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.wallet-address {
  font-family: "Roboto Mono", monospace;
  margin: 8px 0;
  padding: 8px;

  color: white;
  border-radius: 4px;
  overflow: hidden;
  word-wrap: break-word; /* Add this property to wrap long text */
}

/* Responsive styles for different screen sizes */
@media (max-width: 768px) {
  .card {
    width: 90vw; /* Adjust width for smaller screens */
  }
}
